<form #TemplateForm="ngForm">
	<div class="container">
		<div class="card mt-3">
			<ul class="nav justify-content-between">
				<button type="button" class="btn-toolbar" (click)="Submit()" [disabled]="Read">
					<a class="nav-link text-toolbar">
						<i class="icon-save"></i>
						Save
					</a>
				</button>
				<div class="d-flex">
					<button type="button" class="btn-toolbar" (click)="Clean()" [disabled]="Read">
						<a class="nav-link text-toolbar">
							<i class="icon-trash"></i>
							Clean
						</a>
					</button>
					<button type="button" class="btn-toolbar" (click)="Back()">
						<a class="nav-link text-toolbar">
							<i class="icon-return"></i>
							Return
						</a>
					</button>
				</div>
			</ul>
		</div>
		<div class="card card-header card-header-stretch cold-md-12 mt-3">
			<div class="card mb-10">
				<div class="pt-4">
					<div class="row mt-2">
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1">Template code</label>
							<input name="TemplateCode" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="Template.templateCode" disabled />
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1">Template Name</label>
							<input name="TemplateName" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="Template.templateName" required [disabled]="Read" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>