<div class="card-body int-content-body">
	<div class="row">
		<div class="col-md-10">
			<label class="label-form-enazul text-primary-title mt-1" data-security="ListTitle">List of Menu Option</label>
		</div>

		<div class="col-md-2 div-center-right">
			<div class="d-flex d-flex p-2">
				<intelica-actions-menu #actionsMenu (addClassWrapper)="showBackBlue($event)">
					<action name="Filters">
						<ng-template #template>
							<div class="container overflow-hidden">
								<div class="row gy-1 filtersAnalytics">
									<div class="inputRowGap cold-md-12">
										<div class="filtersRow ng-star-inserted">
											<div class="idx-lbl">
												<div class="numOrder"><span>1</span></div>
												<label for="parent"  data-security="Parent"><span>Parent</span></label>
											</div>
											<select class="txtBoxStyle" id="dynamicSelect" [(ngModel)]="menuOptionModel.menuOptionParentID">
												@for (item of listMenuParent; track $index) {
												<option [value]="item.menuOptionName">{{ item.menuOptionName }}</option>
												}
											</select>
										</div>
									</div>
									<div class="inputRowGap cold-md-12">
										<div class="filtersRow ng-star-inserted">
											<div class="idx-lbl">
												<div class="numOrder"><span>2</span></div>
												<label for="menuOptionName" data-security="OptionName"><span>Option Name</span></label>
											</div>
											<input type="text" class="txtBoxStyle" name="menuOptionName" [(ngModel)]="menuOptionModel.menuOptionName" (keyup.enter)="applyFilter()" autocomplete="off" />
										</div>
									</div>
								</div>
							</div>

							<div class="actionButtons">
								<button class="int-Btn int-priBtn btn-fixed applyAnalytics" (click)="applyFilter()">
									<span data-security="Apply">Apply</span>
								</button>
								<button class="int-Btn int-secBtn btn-fixed cleanAnalytics" (click)="ClerSearch()">
									<span data-security="Clear">Clear</span>
								</button>
							</div>
						</ng-template>
					</action>

					<action name="Add Menu Option" (onClick)="Add()" [stopPropagation]="true"></action>
					<action name="Export to Excel" (onClick)="exportFilter()" [stopPropagation]="true"></action>
				</intelica-actions-menu>
			</div>
		</div>
	</div>
</div>

<div class="card card-header card-header-stretch cold-md-12 mt-3">
	<div class="card mb-10">
		<div class="pt-4">
			<table class="int-table">
				<thead>
					<tr>
						<th style="width: 5%">N°</th>
						<th style="width: 20%" data-security="MenuID">Menu ID</th>
						<th data-security="ParentName">Parent Name</th>
						<th data-security="MenuName">Menu name</th>
						<th style="width: 10%" data-security="NroOrder">Nro order</th>
						<th style="width: 10%" data-security="Actions">Actions</th>
					</tr>
				</thead>
				<tbody>
					@for ( option of MenuOptionsFilter; track option.menuOptionID; let index = $index){
					<tr>
						<td>{{ index + 1 }}</td>
						<td class="text-start">{{ option.menuOptionID }}</td>
						<td class="text-start">{{ option.menuOptionParentName }}</td>
						<td class="text-start">
							{{ option.menuOptionName }}
							<div>
								<ol>
									@for ( page of option.menuOptionPages; track page.pageID){
									<li>{{ page.pageName }}</li>
									}
								</ol>
							</div>
						</td>
						<td>{{ option.menuOptionOrder }}</td>
						<td>
							<button class="int-iconBtn" (click)="EditMenuOption(option)" placement="top" ngbTooltip="Edit"><i class="icon-edit"></i></button>
							<button class="int-iconBtn" (click)="DeleteMenuOption(option)" placement="top" ngbTooltip="Delete"><i class="icon-trash"></i></button>
						</td>
					</tr>
					}
				</tbody>
			</table>
			<br />
			<ngb-pagination
				class="d-flex justify-content-center"
				[pageSize]="PageSize"
				[collectionSize]="MenuOptions.length"
				[(page)]="Page"
				[maxSize]="5"
				[boundaryLinks]="true"
				(pageChange)="RefreshList()"
			/>
		</div>
	</div>
</div>
