<div class="card-body int-content-body">
	<div class="row">
		<div class="col-md-10">
			<label class="label-form-enazul text-primary-title mt-1" data-security="ListCountry">List of Country</label>
		</div>
		<div class="col-md-2 div-center-right">
			<div class="d-flex d-flex p-2">
				<intelica-actions-menu #actionsMenu (addClassWrapper)="showBackBlue($event)">
					<action name="Filters">
						<ng-template #template>
							<div class="container overflow-hidden">
								<div class="row gy-1 filtersAnalytics">
									<div class="inputRowGap cold-md-12">
										<div class="filtersRow ng-star-inserted">
											<div class="idx-lbl">
												<div class="numOrder"><span>1</span></div>
												<label for="countryCode" data-security="CountryCode"><span>Country code</span></label>
											</div>
											<input type="text" class="txtBoxStyle" name="countryCode" [(ngModel)]="CountryCode" (keyup.enter)="applyFilter()" autocomplete="off" />
										</div>
									</div>
									<div class="inputRowGap cold-md-12">
										<div class="filtersRow ng-star-inserted">
											<div class="idx-lbl">
												<div class="numOrder"><span>2</span></div>
												<label for="countryName"  data-security="CountryName"><span>Country name</span></label>
											</div>
											<input type="text" class="txtBoxStyle" name="countryName" [(ngModel)]="CountryName" (keyup.enter)="applyFilter()" autocomplete="off"/>
										</div>
									</div>
								</div>
							</div>

							<div class="actionButtons">
								<button class="int-Btn int-priBtn btn-fixed applyAnalytics" (click)="applyFilter()">
									<span>Apply</span>
								</button>
								<button class="int-Btn int-secBtn btn-fixed cleanAnalytics" (click)="ClerSearch()">
									<span>Clear</span>
								</button>
							</div>
						</ng-template>
					</action>

					<action name="Add Country" (onClick)="Add()" [stopPropagation]="true"></action>
					<action name="Export to Excel" (onClick)="exportFilter()" [stopPropagation]="true"></action>
				</intelica-actions-menu>
			</div>
		</div>
	</div>
</div>

<div class="card card-header card-header-stretch cold-md-12">
	<div class="card mb-10">
		<div class="pt-4">
			<table class="int-table">
				<thead>
					<tr>
						<th style="width: 20%" data-security="Country"></th>
						<th data-security="CountryName"></th>
						<th style="width: 10%" data-security="Actions"></th>
					</tr>
				</thead>
				<tbody>
					@for ( Country of CountriesFilter ; track Country.countryID){
					<tr>
						<td>{{ Country.countryID }}</td>
						<td class="text-start">{{ Country.countryName }}</td>
						<td>
							<button class="int-iconBtn" (click)="EditRow(Country)" placement="top" ngbTooltip="Edit"><i class="icon-edit"></i></button>
							<button class="int-iconBtn" (click)="DeleteRow(Country)" placement="top" ngbTooltip="Delete"><i class="icon-trash"></i></button>
							<button class="int-iconBtn" (click)="ViewDetail(Country)" placement="top" ngbTooltip="View"><i class="icon-eye"></i></button>
						</td>
					</tr>
					}
				</tbody>
			</table>
			<br />
			<ngb-pagination class="d-flex justify-content-center" [pageSize]="PageSize" [collectionSize]="Countries.length" [(page)]="Page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="RefreshList()" />
		</div>
	</div>
</div>

<table id="TableExport" style="display: none"></table>
