<form #RealmRoleForm="ngForm">
	<div class="container">
		<div class="card mt-3">
			<ul class="nav justify-content-between">
				<button type="button" class="btn-toolbar" (click)="Submit()" [disabled]="Read">
					<a class="nav-link text-toolbar">
						<i class="icon-save"></i>
						<label data-security="Save"></label>
					</a>
				</button>
				<div class="d-flex">
					<button type="button" class="btn-toolbar" (click)="Clean()" [disabled]="Read">
						<a class="nav-link text-toolbar">
							<i class="icon-trash"></i>
							<label data-security="Clean"></label>
						</a>
					</button>
					<button type="button" class="btn-toolbar" (click)="Back()">
						<a class="nav-link text-toolbar">
							<i class="icon-return"></i>
							<label data-security="Return"></label>
						</a>
					</button>
				</div>
			</ul>
		</div>
		<div class="card card-header card-header-stretch cold-md-12 mt-3">
			<div class="card mb-10">
				<div class="pt-4">
					<div class="row mt-2">
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="RealmRole">Realm Role ID</label>
							<input
								name="realmRoleID"
								class="form-control form-control-sm"
								type="text"
								maxlength="100"
								disabled
								[(ngModel)]="RealmRole.realmRoleID"
								required
							/>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="Realm">Realm</label>
							<ng-select
								name="realmID"
								[items]="realms"
								bindLabel="realmName"
								bindValue="realmID"
								[(ngModel)]="RealmRole.realmID"
								[disabled]="RealmGroupID"
							>
							</ng-select>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="RealmRoleName">Realm Role Name</label>
							<input
								name="realmRoleName"
								class="form-control form-control-sm"
								type="text"
								maxlength="100"
								[(ngModel)]="RealmRole.realmRoleName"
								required
							/>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1"  data-security="RealmRoleDescription">Realm Role Description</label>
							<input
								name="realmRoleDescription"
								class="form-control form-control-sm"
								type="text"
								maxlength="100"
								[(ngModel)]="RealmRole.realmRoleDescription"
								required
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
