<div class="card card-header card-header-stretch cold-md-12 mt-2">
	<div class="card mb-2 mt-2">
		<ul class="nav">
			<button type="button" class="btn-toolbar" (click)="GetAll()">
				<a class="nav-link text-toolbar">
					<span>
						<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
							<path
								d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
								stroke="#38E8C6"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</span>
					Search
				</a>
			</button>
			<button type="button" class="btn-toolbar" (click)="Add()">
				<a class="nav-link text-toolbar">
					<span>
						<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
							<path
								d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
								stroke="#38E8C6"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</span>
					Add
				</a>
			</button>
			<button type="button" class="btn-toolbar" (click)="Export()">
				<a class="nav-link text-toolbar">
					<span>
						<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
							<path
								d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
								stroke="#38E8C6"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</span>
					Export
				</a>
			</button>
		</ul>
	</div>
	<div class="card mb-10">
		<div class="pt-1">
			<table class="int-table">
				<thead>
					<tr>
						<th style="width: 5%">N°</th>
						<th>Profile name</th>
						<th>Profile description</th>
						<th style="width: 10%">Actions</th>
					</tr>
				</thead>
				<tbody>
					@for ( profile of profileList; track profile.profileID; let index = $index){
					<tr>
						<td>{{ (index + 1) }}</td>
						<td class="text-start">{{ profile.profileName }}</td>
						<td class="text-start">{{ profile.profileDescription }}</td>
						<td>
							<button class="int-iconBtn" (click)="EditRow(profile)"><i class="icon-edit"></i></button>
							<button class="int-iconBtn" (click)="DeleteRow(profile)"><i class="icon-trash"></i></button>
							<button class="int-iconBtn" (click)="viewDetail(profile)"><i class="icon-eye"></i></button>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>