<div class="card-body int-content-body">
	<div class="row">
		<div class="col-md-10">
			<label class="label-form-enazul text-primary-title mt-1">List of Page</label>
		</div>

		<div class="col-md-2 div-center-right">
			<div class="d-flex d-flex">
				<intelica-actions-menu #actionsMenu (addClassWrapper)="showBackBlue($event)">
					<action name="Add Page" (onClick)="Add()" [stopPropagation]="true"></action>
					<action name="Export to Excel" (onClick)="exportFilter()" [stopPropagation]="true"></action>
				</intelica-actions-menu>
			</div>
		</div>
	</div>
</div>

<div class="card card-header card-header-stretch cold-md-12">
	<div class="card mb-10">
		<div class="pt-4">
			<table class="int-table">
				<thead>
					<tr>
						<th style="width: 5%">N°</th>
						<th style="width: 25%" data-security="PageName"></th>
						<th data-security="PageUrl"></th>
						<th style="width: 15%" data-security="PageIcon"></th>
						<th style="width: 15%" data-security="PageRoot"></th>
						<th style="width: 5%" data-security="Actions"></th>
					</tr>
				</thead>
				<tbody>
					@for ( page of PagesFilter; track page.pageId; let index = $index){
					<tr>
						<td>{{ index + 1 }}</td>
						<td class="text-start">{{ page.pageName }}</td>
						<td class="text-start">{{ page.pageUrl }}</td>
						<td>{{ page.pageIcon }}</td>
						<td>{{ page.pageRoot }}</td>
						<td>
							<button class="int-iconBtn" (click)="EditRow(page)" placement="top" ngbTooltip="Edit"><i class="icon-edit"></i></button>
							<button class="int-iconBtn" (click)="DeleteRow(page)" placement="top" ngbTooltip="Delete"><i class="icon-trash"></i></button>
						</td>
					</tr>
					}
				</tbody>
			</table>
			<br />
			<ngb-pagination class="d-flex justify-content-center" [pageSize]="PageSize" [collectionSize]="Pages.length" [(page)]="Page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="RefreshList()" />
		</div>
	</div>
</div>

<table id="TableExport" style="display: none"></table>
