<div class="card-body int-content-body">
	<div class="row">
		<div class="col-md-10">
			<label class="label-form-enazul text-primary-title mt-1">List of Page</label>
		</div>

		<div class="col-md-2 div-center-right">
			<div class="d-flex d-flex p-2">
				<intelica-actions-menu #actionsMenu (addClassWrapper)="showBackBlue($event)">
					<action name="Add Record" (onClick)="Add()" [stopPropagation]="true"></action>
					<action name="Export to Excel" (onClick)="exportFilter()" [stopPropagation]="true"></action>
				</intelica-actions-menu>
			</div>
		</div>
	</div>
</div>

<div class="card card-header card-header-stretch cold-md-12 mt-3">
	<div class="card mb-10">
		<div class="pt-4">
			<table class="int-table">
				<thead>
					<tr>
						<th scope="col">N°</th>
						<th scope="col">Page name</th>
						<th scope="col">Page url</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					@for ( page of PagesFilter; track page.pageId; let index = $index){
					<tr>
						<td>{{ (index + 1) }}</td>
						<td class="text-start">{{ page.pageName }}</td>
						<td class="text-start">{{ page.pageUrl }}</td>
						<td>
							<button class="int-iconBtn" (click)="EditRow(page)"><i class="icon-edit"></i></button>
							<button class="int-iconBtn" (click)="DeleteRow(page)"><i class="icon-trash"></i></button>
						</td>
					</tr>
					}
				</tbody>
			</table>

			<ngb-pagination class="d-flex justify-content-center" [pageSize]="PageSize" [collectionSize]="Pages.length"
				[(page)]="Page" (pageChange)="RefreshList()" />
		</div>
	</div>
</div>

<table id="TableExport" style="display: none"></table>