<form #pageForm="ngForm">
	<div class="card">
		<div class="card-header">
			<div class="">
				<button type="button" class="btn-toolbar mt-1" (click)="Back()">
					<i class="icon-return"></i>
					<a class="nav-link text-toolbar font-ul px-1">Back</a>
				</button>
			</div>
			<div class="">
				<button type="button" class="btn-toolbar mt-1" (click)="Submit()">
					<i class="icon-email-blue"></i>
					<a class="nav-link text-toolbar font-ul px-1">save</a>
				</button>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<label class="label-form-enazul text-primary mt-1">Profile name</label>
					<input name="profileName" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="currentProfile.profileName" />
				</div>
				<div class="col-md-6 col-sm-12">
					<label class="label-form-enazul text-primary mt-1">Profile descripción</label>
					<input
						name="profileDescription"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						[(ngModel)]="currentProfile.profileDescription"
					/>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-12">
					<table class="int-table">
						<thead>
							<tr>
								<th style="width: 5%">N°</th>
								<th>Page name</th>
								<th>Page url</th>
								<th style="width: 5%">Actions</th>
							</tr>
						</thead>
						<tbody>
							@for ( page of listPageProfile; track page.pageId; let index = $index){
							<tr>
								<td>{{ (index + 1) }}</td>
								<td class="text-start">{{ page.pageName }}</td>
								<td class="text-start">{{ page.pageUrl }}</td>
								<td><input type="checkbox" [name]="'chkOpc' + index" [(ngModel)]="page.isSelect" /></td>
							</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>
