<mat-card appearance="outlined">
	<mat-card-content>
		<div class="nav justify-content-between">
			<button mat-fab aria-label class="primary-intelica" matTooltip="alt + s" (click)="Save()" [disabled]="Read">
				<mat-icon>save_as</mat-icon>
			</button>
			<div class="d-flex">
				<button mat-fab aria-label class="primary-intelica" matTooltip="alt + c" (click)="Clean()" [disabled]="Read">
					<mat-icon>delete</mat-icon>
				</button>
				&nbsp;
				<button mat-fab aria-label class="primary-intelica" matTooltip="alt + r" (click)="Back()">
					<mat-icon>reply_all</mat-icon>
				</button>
			</div>
		</div>
	</mat-card-content>
</mat-card>

<mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title data-security="Businessuser">Business User</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-stepper #stepper>
			<mat-step [stepControl]="firstFormGroup" errorMessage="fields requireds.">
				<form [formGroup]="firstFormGroup">
					<ng-template matStepLabel><mat-label data-security="InformationUser"></mat-label></ng-template>
					<ng-template matStepContent>
						<div class="row mt-2">
							<div class="col-md-4 col-sm-12">
								<mat-form-field appearance="outline" style="width: 100%">
									<mat-label data-security="Profile">Profile</mat-label>
									<mat-select formControlName="profileID" (selectionChange)="loadPageProfile()">
										@for ( item of profileList; track item.profileID; let index = $index){
										<mat-option [value]="item.profileID">{{ item.profileName }}</mat-option>
										}
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-4 col-sm-12">
								<mat-form-field appearance="outline" style="width: 100%">
									<mat-label data-security="Name">Name</mat-label>
									<input matInput placeholder="Name" formControlName="businessUserName" />
								</mat-form-field>
							</div>
							<div class="col-md-4 col-sm-12">
								<mat-form-field appearance="outline" style="width: 100%">
									<mat-label data-security="Password">password</mat-label>
									<input matInput [type]="hide() ? 'password' : 'text'" formControlName="businessUserPassword" />
									<button mat-icon-button matSuffix (click)="clickEventPwd($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
										<mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
									</button>
									<!-- @if (frm1['businessUserPassword'].errors) {
									<mat-error>
										@if (frm1['businessUserPassword'].errors['required']) {
										<span>UserPassword is required</span>
										} @if (frm1['businessUserPassword'].errors['minlength'] || frm1['businessUserPassword'].errors['maxlength']) {
										<span>UserPassword must be at least 8 characters and not exceed 20 characters</span>
										}@if (frm1['businessUserPassword'].errors['pattern']) {
										<span>It must contain at least contain 1 uppercase, 1 lowercase, 1 number and 1 special character</span>
										}
									</mat-error>
									} -->
								</mat-form-field>
							</div>
							<div class="col-md-4 col-sm-12">
								<mat-form-field appearance="outline" style="width: 100%">
									<mat-label data-security="FirstName">FirstName</mat-label>
									<input matInput placeholder="FirstName" formControlName="businessUserFirstName" />
								</mat-form-field>
							</div>
							<div class="col-md-4 col-sm-12">
								<mat-form-field appearance="outline" style="width: 100%">
									<mat-label data-security="LastName">LastName</mat-label>
									<input matInput placeholder="LastName" formControlName="businessUserLastName" />
								</mat-form-field>
							</div>
							<div class="col-md-4 col-sm-12">
								<mat-form-field appearance="outline" style="width: 100%">
									<mat-label data-security="Email">Email</mat-label>
									<input matInput placeholder="Email" formControlName="businessUserEmail" />
								</mat-form-field>
							</div>
						</div>
						<div>
							<button mat-raised-button matStepperNext data-security="Next">Next</button>
						</div>
					</ng-template>
				</form>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel><mat-label data-security="InformationPage"></mat-label></ng-template>
				<div class="row mt-2">
					<div class="col-lg-12">
						<mat-form-field appearance="outline">
							<mat-label data-security="Filter">Filter</mat-label>
							<input matInput (keyup)="applyFilterPages($event)" placeholder="input search" #inputSearchPage />
						</mat-form-field>

						<div class="mat-elevation-z8">
							<table #tblPages mat-table [dataSource]="dataSourcePages" matSort #sortPages="matSort">
								<ng-container matColumnDef="index">
									<th mat-header-cell *matHeaderCellDef>Nro</th>
									<td mat-cell *matCellDef="let index = index">{{ index + 1 }}</td>
								</ng-container>

								<ng-container matColumnDef="pageName">
									<th mat-header-cell *matHeaderCellDef mat-sort-header data-security="PageName">Page name</th>
									<td mat-cell *matCellDef="let row">{{ row.pageName }}</td>
								</ng-container>

								<ng-container matColumnDef="businessUserCanCreate">
									<th mat-header-cell *matHeaderCellDef data-security="Create">Create</th>
									<td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.businessUserCanCreate" [color]="'primary'"></mat-checkbox></td>
								</ng-container>

								<ng-container matColumnDef="businessUserCanUpdate">
									<th mat-header-cell *matHeaderCellDef data-security="Update">Update</th>
									<td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.businessUserCanUpdate" [color]="'primary'"></mat-checkbox></td>
								</ng-container>

								<ng-container matColumnDef="businessUserCanDelete">
									<th mat-header-cell *matHeaderCellDef data-security="Delete">Delete</th>
									<td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.businessUserCanDelete" [color]="'primary'"></mat-checkbox></td>
								</ng-container>

								<ng-container matColumnDef="select">
									<th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">
										<mat-checkbox
											(change)="$event ? toggleAllRowsPages() : null"
											[checked]="selectionPages.hasValue() && isAllSelectedPages()"
											[indeterminate]="selectionPages.hasValue() && !isAllSelectedPages()"
											[color]="'primary'"
										></mat-checkbox>
										<mat-label data-security="All"></mat-label>
									</th>
									<td mat-cell *matCellDef="let row" style="text-align: center">
										<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionPages.toggle(row) : null" [checked]="selectionPages.isSelected(row)" [color]="'primary'"></mat-checkbox>
									</td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumnsPages"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumnsPages"></tr>

								<tr class="mat-row" *matNoDataRow>
									<td class="mat-cell" colspan="4">No data matching the filter "{{ inputSearchPage.value }}"</td>
								</tr>
							</table>

							<mat-paginator #matPaginatorPages="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
						</div>
					</div>
				</div>
				<div class="mt-5">
					<button mat-raised-button matStepperPrevious data-security="Back">Back</button>
					&nbsp;
					<button mat-raised-button matStepperNext data-security="Next">Next</button>
				</div>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel><mat-label data-security="InformationBank"></mat-label></ng-template>
				<ng-template matStepContent>
					<div class="row mb-3">
						<div class="col-lg-12">
							<mat-form-field appearance="outline">
								<mat-label data-security="Filter">Filter</mat-label>
								<input matInput (keyup)="applyFilterBanks($event)" placeholder="input search" #inputBanks />
							</mat-form-field>

							<div class="mat-elevation-z8">
								<table #tblBanks mat-table [dataSource]="dataSourceBanks" matSort #sortBanks="matSort">
									<ng-container matColumnDef="index">
										<th mat-header-cell *matHeaderCellDef>Nro</th>
										<td mat-cell *matCellDef="let indexBank = index">{{ indexBank + 1 }}</td>
									</ng-container>

									<ng-container matColumnDef="bankName">
										<th mat-header-cell *matHeaderCellDef mat-sort-header data-security="BankName">Bank name</th>
										<td mat-cell *matCellDef="let row">{{ row.bankName }}</td>
									</ng-container>

									<ng-container matColumnDef="select">
										<th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">
											<mat-checkbox
												(change)="$event ? toggleAllRowsBanks() : null"
												[checked]="selectionBanks.hasValue() && isAllSelectedBanks()"
												[indeterminate]="selectionBanks.hasValue() && !isAllSelectedBanks()"
												[color]="'primary'"
											></mat-checkbox>
											<mat-label data-security="All"></mat-label>
										</th>
										<td mat-cell *matCellDef="let row" style="text-align: center">
											<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionBanks.toggle(row) : null" [checked]="selectionBanks.isSelected(row)" [color]="'primary'"></mat-checkbox>
										</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumnsBanks"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumnsBanks"></tr>

									<tr class="mat-row" *matNoDataRow>
										<td class="mat-cell" colspan="4">No data matching the filter "{{ inputBanks.value }}"</td>
									</tr>
								</table>

								<mat-paginator #matPaginatorBanks="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select banks"></mat-paginator>
							</div>
						</div>
					</div>
					<div>
						<button mat-raised-button matStepperPrevious data-security="Back">Back</button>
						&nbsp;
						<button mat-raised-button matStepperNext data-security="Next">Next</button>
					</div>
				</ng-template>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel><mat-label data-security="InformationBankGroup"></mat-label></ng-template>
				<ng-template matStepContent>
					<div class="row mb-3">
						<div class="col-lg-12">
							<mat-form-field appearance="outline">
								<mat-label data-security="Filter">Filter</mat-label>
								<input matInput (keyup)="applyFilterBankGroups($event)" placeholder="input search" #inputBankGroups />
							</mat-form-field>

							<div class="mat-elevation-z8">
								<table #tblBankGroups mat-table [dataSource]="dataSourceBankGroups" matSort #sortBankGroups="matSort">
									<ng-container matColumnDef="index">
										<th mat-header-cell *matHeaderCellDef>Nro</th>
										<td mat-cell *matCellDef="let indexBankGroup = index">{{ indexBankGroup + 1 }}</td>
									</ng-container>

									<ng-container matColumnDef="bankGroupName">
										<th mat-header-cell *matHeaderCellDef mat-sort-header data-security="BankGroupName">Bank group name</th>
										<td mat-cell *matCellDef="let row">{{ row.bankGroupName }}</td>
									</ng-container>

									<ng-container matColumnDef="select">
										<th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">
											<mat-checkbox
												(change)="$event ? toggleAllRowsBankGroups() : null"
												[checked]="selectionBankGroups.hasValue() && isAllSelectedBankGroups()"
												[indeterminate]="selectionBankGroups.hasValue() && !isAllSelectedBankGroups()"
												[color]="'primary'"
											></mat-checkbox>
											<mat-label data-security="All"></mat-label>
										</th>
										<td mat-cell *matCellDef="let row" style="text-align: center">
											<mat-checkbox
												(click)="$event.stopPropagation()"
												(change)="$event ? selectionBankGroups.toggle(row) : null"
												[checked]="selectionBankGroups.isSelected(row)"
												[color]="'primary'"
											></mat-checkbox>
										</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumnsBankGroups"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumnsBankGroups"></tr>

									<tr class="mat-row" *matNoDataRow>
										<td class="mat-cell" colspan="4">No data matching the filter "{{ inputBankGroups.value }}"</td>
									</tr>
								</table>

								<mat-paginator #matPaginatorBankGroups="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select banks"></mat-paginator>
							</div>
						</div>
					</div>
					<div>
						<button mat-raised-button matStepperPrevious data-security="Back">Back</button>
						&nbsp;
						<button mat-raised-button (click)="stepper.reset()" data-security="Reset">Reset</button>
					</div>
				</ng-template>
			</mat-step>
		</mat-stepper>
	</mat-card-content>
</mat-card>

<!-- <mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title> Business User</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-stepper #stepper>
			<mat-step>
				<ng-template matStepLabel>Information user</ng-template>
				<ng-template matStepContent>
					<div class="row mt-2">
						<div class="col-md-4 col-sm-12">
							<mat-form-field appearance="outline" style="width: 100%">
								<mat-label>Profile</mat-label>
								<mat-select [(ngModel)]="currentBusinessUser.profileID" (selectionChange)="loadPageProfile()">
									@for ( item of profileList; track item.profileID; let index = $index){
									<mat-option [value]="item.profileID">{{item.profileName}}</mat-option>
									}
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-4 col-sm-12">
							<mat-form-field appearance="outline" style="width: 100%">
								<mat-label>Name</mat-label>
								<input matInput placeholder="Name" [(ngModel)]="currentBusinessUser.businessUserName" />
							</mat-form-field>
						</div>
						<div class="col-md-4 col-sm-12">
							<mat-form-field appearance="outline" style="width: 100%">
								<mat-label>password</mat-label>
								<input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="currentBusinessUser.businessUserPassword" />
								<button mat-icon-button matSuffix (click)="clickEventPwd($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
									<mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-md-4 col-sm-12">
							<mat-form-field appearance="outline" style="width: 100%">
								<mat-label>FirstName</mat-label>
								<input matInput placeholder="FirstName" [(ngModel)]="currentBusinessUser.businessUserFirstName" />
							</mat-form-field>
						</div>
						<div class="col-md-4 col-sm-12">
							<mat-form-field appearance="outline" style="width: 100%">
								<mat-label>LastName</mat-label>
								<input matInput placeholder="LastName" [(ngModel)]="currentBusinessUser.businessUserLastName" />
							</mat-form-field>
						</div>
						<div class="col-md-4 col-sm-12">
							<mat-form-field appearance="outline" style="width: 100%">
								<mat-label>Email</mat-label>
								<input matInput placeholder="Email" [(ngModel)]="currentBusinessUser.businessUserEmail" />
							</mat-form-field>
						</div>
					</div>
					<div>
						<button mat-raised-button matStepperNext>Next</button>
					</div>
				</ng-template>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Information page</ng-template>
				<div class="row mt-2">
					<div class="col-lg-12">
						<mat-form-field appearance="outline">
							<mat-label>Filter</mat-label>
							<input matInput (keyup)="applyFilterPages($event)" placeholder="input search" #inputSearchPage />
						</mat-form-field>

						<div class="mat-elevation-z8">
							<table #tblPages mat-table [dataSource]="dataSourcePages" matSort #sortPages="matSort">
								<ng-container matColumnDef="index">
									<th mat-header-cell *matHeaderCellDef>Nro</th>
									<td mat-cell *matCellDef="let index = index">{{index + 1}}</td>
								</ng-container>

								<ng-container matColumnDef="pageName">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Page name</th>
									<td mat-cell *matCellDef="let row">{{row.pageName}}</td>
								</ng-container>

								<ng-container matColumnDef="businessUserCanCreate">
									<th mat-header-cell *matHeaderCellDef>Create</th>
									<td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.businessUserCanCreate" [color]="'primary'"></mat-checkbox></td>
								</ng-container>

								<ng-container matColumnDef="businessUserCanUpdate">
									<th mat-header-cell *matHeaderCellDef>Update</th>
									<td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.businessUserCanUpdate" [color]="'primary'"></mat-checkbox></td>
								</ng-container>

								<ng-container matColumnDef="businessUserCanDelete">
									<th mat-header-cell *matHeaderCellDef>Delete</th>
									<td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.businessUserCanDelete" [color]="'primary'"></mat-checkbox></td>
								</ng-container>

								<ng-container matColumnDef="select">
									<th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">
										<mat-checkbox
											(change)="$event ? toggleAllRowsPages() : null"
											[checked]="selectionPages.hasValue() && isAllSelectedPages()"
											[indeterminate]="selectionPages.hasValue() && !isAllSelectedPages()"
											[color]="'primary'"
										>
										</mat-checkbox>
										All
									</th>
									<td mat-cell *matCellDef="let row" style="text-align: center">
										<mat-checkbox
											(click)="$event.stopPropagation()"
											(change)="$event ? selectionPages.toggle(row) : null"
											[checked]="selectionPages.isSelected(row)"
											[color]="'primary'"
										>
										</mat-checkbox>
									</td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumnsPages"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumnsPages;"></tr>

								<tr class="mat-row" *matNoDataRow>
									<td class="mat-cell" colspan="4">No data matching the filter "{{inputSearchPage.value}}"</td>
								</tr>
							</table>

							<mat-paginator
								#matPaginatorPages="matPaginator"
								[pageSizeOptions]="[5, 10, 25, 100]"
								showFirstLastButtons
								aria-label="Select page of users"
							></mat-paginator>
						</div>
					</div>
				</div>
				<div class="mt-5">
					<button mat-raised-button matStepperPrevious>Back</button>&nbsp;
					<button mat-raised-button matStepperNext>Next</button>
				</div>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Information bank</ng-template>
				<ng-template matStepContent>
					<div class="row mb-3">
						<div class="col-lg-12">
							<mat-form-field appearance="outline">
								<mat-label>Filter</mat-label>
								<input matInput (keyup)="applyFilterBanks($event)" placeholder="input search" #inputBanks />
							</mat-form-field>

							<div class="mat-elevation-z8">
								<table #tblBanks mat-table [dataSource]="dataSourceBanks" matSort #sortBanks="matSort">
									<ng-container matColumnDef="index">
										<th mat-header-cell *matHeaderCellDef>Nro</th>
										<td mat-cell *matCellDef="let indexBank = index">{{indexBank + 1}}</td>
									</ng-container>

									<ng-container matColumnDef="bankName">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Bank name</th>
										<td mat-cell *matCellDef="let row">{{row.bankName}}</td>
									</ng-container>

									<ng-container matColumnDef="select">
										<th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">
											<mat-checkbox
												(change)="$event ? toggleAllRowsBanks() : null"
												[checked]="selectionBanks.hasValue() && isAllSelectedBanks()"
												[indeterminate]="selectionBanks.hasValue() && !isAllSelectedBanks()"
												[color]="'primary'"
											>
											</mat-checkbox>
											All
										</th>
										<td mat-cell *matCellDef="let row" style="text-align: center">
											<mat-checkbox
												(click)="$event.stopPropagation()"
												(change)="$event ? selectionBanks.toggle(row) : null"
												[checked]="selectionBanks.isSelected(row)"
												[color]="'primary'"
											>
											</mat-checkbox>
										</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumnsBanks"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumnsBanks;"></tr>

									<tr class="mat-row" *matNoDataRow>
										<td class="mat-cell" colspan="4">No data matching the filter "{{inputBanks.value}}"</td>
									</tr>
								</table>

								<mat-paginator
									#matPaginatorBanks="matPaginator"
									[pageSizeOptions]="[5, 10, 25, 100]"
									showFirstLastButtons
									aria-label="Select banks"
								></mat-paginator>
							</div>
						</div>
					</div>
					<div>
						<button mat-raised-button matStepperPrevious>Back</button>&nbsp;
						<button mat-raised-button matStepperNext>Next</button>
					</div>
				</ng-template>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Information bank group</ng-template>
				<ng-template matStepContent>
					<div class="row mb-3">
						<div class="col-lg-12">
							<mat-form-field appearance="outline">
								<mat-label>Filter</mat-label>
								<input matInput (keyup)="applyFilterBankGroups($event)" placeholder="input search" #inputBankGroups />
							</mat-form-field>

							<div class="mat-elevation-z8">
								<table #tblBankGroups mat-table [dataSource]="dataSourceBankGroups" matSort #sortBankGroups="matSort">
									<ng-container matColumnDef="index">
										<th mat-header-cell *matHeaderCellDef>Nro</th>
										<td mat-cell *matCellDef="let indexBankGroup = index">{{indexBankGroup + 1}}</td>
									</ng-container>

									<ng-container matColumnDef="bankGroupName">
										<th mat-header-cell *matHeaderCellDef mat-sort-header>Bank group name</th>
										<td mat-cell *matCellDef="let row">{{row.bankGroupName}}</td>
									</ng-container>

									<ng-container matColumnDef="select">
										<th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">
											<mat-checkbox
												(change)="$event ? toggleAllRowsBankGroups() : null"
												[checked]="selectionBankGroups.hasValue() && isAllSelectedBankGroups()"
												[indeterminate]="selectionBankGroups.hasValue() && !isAllSelectedBankGroups()"
												[color]="'primary'"
											>
											</mat-checkbox>
											All
										</th>
										<td mat-cell *matCellDef="let row" style="text-align: center">
											<mat-checkbox
												(click)="$event.stopPropagation()"
												(change)="$event ? selectionBankGroups.toggle(row) : null"
												[checked]="selectionBankGroups.isSelected(row)"
												[color]="'primary'"
											>
											</mat-checkbox>
										</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumnsBankGroups"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumnsBankGroups;"></tr>

									<tr class="mat-row" *matNoDataRow>
										<td class="mat-cell" colspan="4">No data matching the filter "{{inputBankGroups.value}}"</td>
									</tr>
								</table>

								<mat-paginator
									#matPaginatorBankGroups="matPaginator"
									[pageSizeOptions]="[5, 10, 25, 100]"
									showFirstLastButtons
									aria-label="Select banks"
								></mat-paginator>
							</div>
						</div>
					</div>
					<div>
						<button mat-raised-button matStepperPrevious>Back</button>&nbsp;
						<button mat-raised-button (click)="stepper.reset()">Reset</button>
					</div>
				</ng-template>
			</mat-step>
		</mat-stepper>
	</mat-card-content>
</mat-card> -->
