<form #MenuOptionForm="ngForm" autocomplete="off">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="nav justify-content-between">
						<button type="button" class="btn-toolbar" data-bs-toggle="tooltip" title="Return" (click)="Back()">
							<i class="icon-return"></i>
						</button>
						<div class="d-flex">
							<button type="button" class="btn-toolbar" data-bs-toggle="tooltip" title="Clean" (click)="cleanFrmMenuOption()">
								<i class="icon-trash"></i>
							</button>
							<button type="button" class="btn-toolbar" data-bs-toggle="tooltip" title="Save" (click)="save()"><i class="icon-save"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-lg-5">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<b>Menu Option</b>
					</div>
				</div>
				<div class="card-body">
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Menu ID</label>
						<div class="col-8">
							<input
								type="text"
								class="form-control form-control-sm"
								placeholder="Menu ID"
								name="menuOptionID"
								[readOnly]="true"
								[(ngModel)]="menuOptionCurrent.menuOptionID"
							/>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Parent</label>
						<div class="col-8">
							<ng-select
								[items]="listMenuParent"
								bindLabel="menuOptionName"
								bindValue="menuOptionID"
								name="menuOptionParentID"
								[(ngModel)]="menuOptionCurrent.menuOptionParentID"
							>
							</ng-select>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Name</label>
						<div class="col-8">
							<input
								type="text"
								class="form-control form-control-sm"
								placeholder="Name"
								name="menuOptionName"
								[maxlength]="60"
								[(ngModel)]="menuOptionCurrent.menuOptionName"
							/>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Description</label>
						<div class="col-8">
							<input
								type="text"
								class="form-control form-control-sm"
								placeholder="Description"
								name="menuOptionDescription"
								[maxlength]="200"
								[(ngModel)]="menuOptionCurrent.menuOptionDescription"
							/>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Order</label>
						<div class="col-8">
							<input
								type="number"
								class="form-control form-control-sm"
								placeholder="Order"
								name="menuOptionOrder"
								[(ngModel)]="menuOptionCurrent.menuOptionOrder"
							/>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Icon</label>
						<div class="col-8">
							<input
								type="text"
								class="form-control form-control-sm"
								placeholder="Icon"
								name="menuOptionIcon"
								[maxlength]="50"
								[(ngModel)]="menuOptionCurrent.menuOptionIcon"
							/>
						</div>
					</div>
					<div class="mb-3 row">
						<label class="col-4 col-form-label label-form-enazul text-primary">Show</label>
						<div class="col-8">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="0" name="menuOptionShow" [(ngModel)]="menuOptionCurrent.menuOptionShow" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<b>List Page</b>
					</div>
					<div class="d-flex" style="align-items: center">
						<button type="button" class="btn-toolbar" (click)="addPageMenuOption()"><i class="icon-add"></i></button>
					</div>
				</div>
				<div class="card-body">
					<table class="int-table">
						<thead>
							<tr>
								<th style="width: 10%">N°</th>
								<th>Page</th>
								<th style="width: 20%">Order</th>
								<th style="width: 10%">Actions</th>
							</tr>
						</thead>
						<tbody>
							@for ( page of menuOptionCurrent.menuOptionPages ; track page.pageID; let index = $index){
							<tr>
								<td>{{ (index + 1) }}</td>
								<td class="text-start">{{page.pageName}}</td>
								<td>
									<input
										type="text"
										class="form-control form-control-sm"
										placeholder="Order"
										[name]="'ord' + index"
										[(ngModel)]="page.menuOptionPageOrder"
									/>
								</td>
								<td>
									<button class="int-iconBtn" (click)="deleteItemPage(index)"><i class="icon-trash"></i></button>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>
