<form #pageForm="ngForm">
	<div class="container">
		<div class="card mt-3">
			<ul class="nav justify-content-between">
				<button type="button" class="btn-toolbar" (click)="Submit()" [disabled]="Read">
					<a class="nav-link text-toolbar">
						<i class="icon-save"></i>
						Save
					</a>
				</button>
				<div class="d-flex">
					<button type="button" class="btn-toolbar" (click)="Clean()" [disabled]="Read">
						<a class="nav-link text-toolbar">
							<i class="icon-trash"></i>
							Clean
						</a>
					</button>
					<button type="button" class="btn-toolbar" (click)="Back()">
						<a class="nav-link text-toolbar">
							<i class="icon-return"></i>
							Return
						</a>
					</button>
				</div>
			</ul>
		</div>
		<div class="card mt-4">
			<div class="card-body">
				<div class="row mt-2">
					<div class="col-md-6 col-sm-12">
						<label class="label-form-enazul text-primary mt-1">Page name</label>
						<input name="pageName" class="form-control form-control-sm" type="text" maxlength="100"
							[(ngModel)]="page.pageName" />
					</div>
					<div class="col-md-6 col-sm-12">
						<label class="label-form-enazul text-primary mt-1">Page url</label>
						<input name="pageUrl" class="form-control form-control-sm" type="text" maxlength="100"
							[(ngModel)]="page.pageUrl" />
					</div>
				</div>
			</div>
		</div>
	</div>
</form>