<form #ClientForm="ngForm">
	<div class="container">
		<div class="card mt-3">
			<ul class="nav justify-content-between">
				<button type="button" class="btn-toolbar" (click)="Submit()" [disabled]="Read">
					<a class="nav-link text-toolbar">
						<i class="icon-save"></i>
						<label data-security="Save"></label>
					</a>
				</button>
				<div class="d-flex">
					<button type="button" class="btn-toolbar" (click)="Clean()" [disabled]="Read">
						<a class="nav-link text-toolbar">
							<i class="icon-trash"></i>
							<label data-security="Clean"></label>
						</a>
					</button>
					<button type="button" class="btn-toolbar" (click)="Back()">
						<a class="nav-link text-toolbar">
							<i class="icon-return"></i>
							<label data-security="Return"></label>
						</a>
					</button>
				</div>
			</ul>
		</div>
		<div class="card card-header card-header-stretch cold-md-12 mt-3">
			<div class="card mb-10">
				<div class="pt-4">
					<div class="row mt-2">
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="ClientID">Client Id</label>
							<input
								name="clientId"
								class="form-control form-control-sm"
								type="text"
								maxlength="100"
								[(ngModel)]="Client.clientID"
								[disabled]="ClientID"
								required
							/>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="Realm">Realm</label>
							<ng-select
								name="realmID"
								[items]="realms"
								bindLabel="realmName"
								bindValue="realmID"
								[(ngModel)]="Client.realmID"
								[disabled]="ClientID"
								required
							>
							</ng-select>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="ClientName">Client Name</label>
							<input name="clientName" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="Client.clientName" required />
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="ClientDescription">Client Description</label>
							<textarea
								name="clientDescription"
								class="form-control"
								maxlength="100"
								rows="4"
								cols="10"
								[(ngModel)]="Client.clientDescription"
							></textarea>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1"  data-security="ClientRoot">Client Root URL</label>
							<input name="clientRootUrl" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="Client.clientRootUrl" />
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1" data-security="ClientValidRedirect">Client Valid redirect URIs</label>
							<input
								name="clientRedirectUrl"
								class="form-control form-control-sm"
								type="text"
								maxlength="100"
								[(ngModel)]="Client.clientRedirectUrl"
							/>
						</div>
						<div class="col-md-6 col-sm-12">
							<label class="label-form-enazul text-primary mt-1"  data-security="ClientWebOrigins">Client Web origins</label>
							<input
								name="clientWebOrigin"
								class="form-control form-control-sm"
								type="text"
								maxlength="100"
								[(ngModel)]="Client.clientWebOrigin"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
