<form #clientForm="ngForm">
	<div class="row mt-5">
		<div class="col-12">
			<div class="d-flex align-items-center flex-wrap">
				<div class="d-flex align-items-baseline flex-wrap">
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item text-muted">
							<a routerLink="/dashboard" class="text-muted">Home</a>
						</li>
						<li class="text-muted not-allowed">
							<a class="text-muted">Client maintenance</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<ul class="nav px-6 justify-content-between align-items-center">
			<button type="button" class="btn-toolbar btn-nav mt-1" (click)="Back()">
				<i class="icon-return-tf"></i>
				<a class="nav-link text-toolbar font-ul px-1">Back</a>
			</button>
			<div class="d-flex">
				<button type="button" class="btn-toolbar btn-nav mt-1" (click)="Submit()">
					<i class="icon-save"></i>
					<a class="nav-link text-toolbar font-ul px-1">Ejecutar</a>
				</button>
			</div>
		</ul>
	</div>
	<div class="card mt-4">
		<div class="card-body">
			<div class="row mt-2">
				<div class="col-md-6 col-sm-12">
					<label class="label-form-enazul text-primary mt-1">Realm</label>
					<ng-select name="realmCode" [items]="realms" bindLabel="realmName" bindValue="realmCode" [(ngModel)]="Client.realmCode"> </ng-select>
				</div>
				<div class="col-md-6 col-sm-12">
					<label class="label-form-enazul text-primary mt-1">Client Id</label>
					<input name="clientId" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="Client.clientId" required />
				</div>
				<div class="col-md-6 col-sm-12">
					<label class="label-form-enazul text-primary mt-1">Client Name</label>
					<input name="clientName" class="form-control form-control-sm" type="text" maxlength="100" [(ngModel)]="Client.clientName" required />
				</div>
			</div>
		</div>
	</div>
</form>
