<div class="container">
	<div class="card mt-3">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<label class="label-form-enazul text-primary mt-1" data-security="Realm"></label>
					<ng-select name="realmID" [items]="realms" bindLabel="realmName" bindValue="realmID" [(ngModel)]="RealmID"> </ng-select>
				</div>
				<div class="col-md-4">
					<label class="label-form-enazul text-primary mt-1" data-security="GroupId"></label>
					<input
						name="RealmRoleID"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						[(ngModel)]="RealmRoleID"
						(keyup.enter)="Search()"
					/>
				</div>
				<div class="col-md-4">
					<label class="label-form-enazul text-primary mt-1" data-security="RoleName"></label>
					<input
						name="RealmRoleName"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						[(ngModel)]="RealmRoleName"
						(keyup.enter)="Search()"
					/>
				</div>
				<div class="col-md-2 div-center-right" (click)="Search()">
					<button class="btn btn-primary">
						<label data-security="Search"></label>
						<i class="icon-save-white"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-header card-header-stretch cold-md-12 mt-3">
		<div class="card mb-4 mt-4">
			<ul class="nav">
				<button type="button" class="btn-toolbar" (click)="Add()">
					<a class="nav-link text-toolbar">
						<i class="icon-add"></i>
						<label data-security="Add"></label>
					</a>
				</button>
				<button type="button" class="btn-toolbar" (click)="Export()">
					<a class="nav-link text-toolbar">
						<i class="icon-export"></i>
						<label data-security="Export"></label>
					</a>
				</button>
			</ul>
		</div>
		<div class="card mb-10">
			<div class="pt-4">
				<table class="int-table">
					<thead>
						<tr>
							<th scope="col" style="width: 30%" data-security="RealmRole"></th>
							<th scope="col" style="width: 20%" data-security="RealmName"></th>
							<th scope="col" style="width: 20%" data-security="RealmRoleName"></th>
							<th scope="col" style="width: 20%" data-security="RealmRoleDescription"></th>
							<th scope="col" style="width: 15%" data-security="Actions"></th>
						</tr>
					</thead>
					<tbody>
						@for ( realm of RealmRolesFilter ; track realm.realmRoleID){
						<tr>
							<td>{{ realm.realmRoleID }}</td>
							<td>{{ realm.realmName }}</td>
							<td>{{ realm.realmRoleName }}</td>
							<td>{{ realm.realmRoleDescription }}</td>
							<th scope="row">
								<div class="row">
									<div class="col-lg-4 col-md-12 pl-10">
										<button class="int-iconBtn" (click)="EditRow(realm)"><i class="icon-edit"></i></button>
									</div>
									<div class="col-lg-4 col-md-12">
										<button class="int-iconBtn" (click)="DeleteRow(realm)"><i class="icon-trash"></i></button>
									</div>
									<div class="col-lg-4 col-md-12 pr-10">
										<button class="int-iconBtn"><i class="icon-eye"></i></button>
									</div>
								</div>
							</th>
						</tr>
						}
					</tbody>
				</table>
				<ngb-pagination
					class="d-flex justify-content-center"
					[pageSize]="PageSize"
					[collectionSize]="RealmRoles.length"
					[(page)]="Page"
					(pageChange)="RefreshList()"
				/>
			</div>
		</div>
	</div>
</div>
<table id="TableExport" style="display: none"></table>
