<div class="card-body">
	<div class="row">
		<div class="col-md-3">
			<label class="label-form-enazul text-primary mt-1">Realm code</label>
			<ng-select name="realmCode" [items]="realms" bindLabel="realmName" bindValue="realmID" [(ngModel)]="RealmId"> </ng-select>
		</div>
		<div class="col-md-3">
			<label class="label-form-enazul text-primary mt-1">Group id</label>
			<input
				name="realmCode"
				class="form-control form-control-sm"
				type="text"
				maxlength="100"
				[(ngModel)]="RealmRoleId"
				(keyup.enter)="Search()"
			/>
		</div>
		<div class="col-md-4">
			<label class="label-form-enazul text-primary mt-1">Role name</label>
			<input
				name="realmCode"
				class="form-control form-control-sm"
				type="text"
				maxlength="100"
				[(ngModel)]="RealmRoleName"
				(keyup.enter)="Search()"
			/>
		</div>

		<div class="col-md-2 div-center-right" (click)="Search()">
			<button class="btn btn-primary">
				Search
				<i class="icon-save-white"></i>
			</button>
		</div>
	</div>
</div>

<div class="card card-header card-header-stretch cold-md-12 mt-3">
	<div class="card mb-4 mt-4">
		<ul class="nav">
			<button type="button" class="btn-toolbar" (click)="Add()">
				<a class="nav-link text-toolbar">
					<i class="icon-add"></i>
					Add
				</a>
			</button>
			<button type="button" class="btn-toolbar" (click)="Export()">
				<a class="nav-link text-toolbar">
					<i class="icon-export"></i>
					Export
				</a>
			</button>
		</ul>
	</div>
	<div class="card mb-10">
		<div class="pt-4">
			<table class="int-table">
				<thead>
					<tr>
						<th scope="col">Role Code</th>
						<th scope="col">Realm Name</th>
						<th scope="col">Role Name</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					@for ( realm of RealmRolesFilter ; track realm.realmRoleId){
					<tr>
						<td>{{ realm.realmRoleId }}</td>
						<td>{{ realm.realmName }}</td>
						<td>{{ realm.realmRoleName }}</td>
						<th scope="row">
							<div class="row">
								<div class="col-lg-4 col-md-12 pl-10">
									<button class="int-iconBtn" (click)="EditRow(realm)"><i class="icon-edit"></i></button>
								</div>
								<div class="col-lg-4 col-md-12">
									<button class="int-iconBtn" (click)="DeleteRow(realm)"><i class="icon-trash"></i></button>
								</div>
								<div class="col-lg-4 col-md-12 pr-10">
									<button class="int-iconBtn" (click)="ViewDetail(realm)"><i class="icon-eye"></i></button>
								</div>
							</div>
						</th>
					</tr>
					}
				</tbody>
			</table>
			<ngb-pagination
				class="d-flex justify-content-center"
				[pageSize]="PageSize"
				[collectionSize]="RealmRoles.length"
				[(page)]="Page"
				(pageChange)="RefreshList()"
			/>
		</div>
	</div>
</div>

<table id="TableExport" style="display: none"></table>
